.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Adjust padding as needed */
}

.ag-header-cell-label {
  justify-content: center;
}

.ag-center-cols-clipper {
    min-height: unset !important;
} 

b,strong {font-weight: bold}